    <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Product" asp-area="Admin">Create</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Size</th>
            <th>Price</th>
            <th>Photo</th>
            <th>Category</th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.Size</td>
                <td>@product.Price</td>
                <td><img src="@product.PhotoPath" alt="@product.Title" width="100" /></td>
                <td>@product.ShopCategory?.Title ?? "No category"</td>
                <td>
                    <a href="@Url.Action("Update", new { id = product.Id })" class="btn btn-primary">Update</a>
                    <form method="post" asp-action="Delete" asp-route-id="@product.Id" style="display:inline-block;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>